/* body */
body {
  background-color: #f7f5f4;
}
/* Header */
#head {
  background: #181015 url(../images/bg_header.jpg) no-repeat;
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  font-weight: 300;
}
#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}
#head .lead {
  font-family: "Open sans", Helvetica, Arial;
  font-size: 44px;
  margin-bottom: 6px;
  color: white;
  line-height: 1.15em;
}
#head .tagline {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 25px;
}
#head .tagline a {
  color: #fff;
}
#head .btn {
  margin-bottom: 10px;
}
#head .btn-default {
  text-shadow: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
  background: transparent;
}
#head .btn-default:hover,
#head .btn-default:focus {
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
  background: transparent;
}
#head .btn-default:active,
#head .btn-default.active {
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  background: transparent;
}

@media (max-width: 767px) {
  #head {
    min-height: 420px;
    padding-top: 160px;
  }
  #head .lead {
    font-size: 34px;
  }
}
@media (min-width: 992px) {
  .col-md-offset-3 {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .col-sm-offset-2 {
    margin-left: 0px;
  }
}

/* Autohide navbar */
.slideUp {
  top: -100px;
}
.headroom {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* Highlights (in jumbotron in most cases) */
.highlight {
  margin-top: 40px;
}
.h-caption {
  text-align: center;
}
.h-caption i {
  display: block;
  font-size: 54px;
  color: #382526;
  margin-bottom: 36px;
}
.h-caption h4 {
  color: #382526;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open sans", Helvetica, Arial;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 30px;
}
h1 {
  color: rgb(38, 70, 83);
}
blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 30px 0 30px;
}
label {
  color: #777;
}
.thin {
  font-weight: 300;
}
body {
  font-size: 20px;
}
.Nom-asso1 {
  width: fit-content;
  margin: auto;
  border: 3px solid rgb(53, 182, 174);
  margin-bottom: 30px;
  margin-top: 20px;
}
.Nom-asso1 h1 {
  margin: 7px 10px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 2px solid #eee;
}
.page-title {
  margin-top: 20px;
  font-weight: 320;
  font-size: 35px;
  color: rgb(38, 70, 83);
}
h3 {
  color: rgb(53, 182, 174);
  font-size: 27px;
}
.text-muted {
  color: #888;
}
.breadcrumb {
  background: none;
  padding: 0;
  margin: 30px 0 0px 0;
}
.breadcrumb a {
  color: rgb(53, 182, 174);
}
ul.list-spaces li {
  margin-bottom: 10px;
}
/* tableau */
.lienDirect{
  margin: auto;
}
.lienDirect tr .seco{
  text-align: right;
}
.jour {
  width: 120px;
}
.balise {
  color: rgb(38, 70, 83);
  font-size: 18px;
}
.balise2{
  color: rgb(38, 70, 83);
  font-size: 18px;
  text-align: right;
}
td a:hover {
  color: rgb(53, 182, 174);
  text-decoration: none;
}
.contact_Block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block_c{
  width: 35%;
}
.block_c img{
  margin: auto;
  width: 80%;
}
/* Helpers */
.container-full {
  margin: 0 auto;
  width: 100%;
}
.top-margin {
  margin-top: 20px;
}
.col-sm-8 {
  width: 100%;
}
img {
  max-width: 100%;
}
img.pull-right {
  margin-left: 10px;
}
img.pull-left {
  margin-right: 10px;
}
#map {
  width: 100%;
  height: 280px;
}
#social {
  margin-top: 50px;
  margin-bottom: 50px;
}
#social .wrapper {
  width: 340px;
  margin: 0 auto;
}

/* valeur content block */


/* Sidebars */
.sidebar {
  padding-top: 36px;
  padding-bottom: 30px;
}
.sidebar .widget {
  margin-bottom: 20px;
}
.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2,
.sidebar h3,
.sidebar .h3 {
  margin-top: 20px;
}
/* scroll top */
#scroll_to_top {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 50px;
  right: 50px;
  display: none;
  background-color: #9ea1a1;
  cursor: pointer;
  z-index: 40;
  border-radius: 50%;
}
#scroll_to_top img {
  width: auto;
}
/* Footer */
.footer_marg {
  margin-top: 20px;
}
.footer1 {
  background: rgba(30, 67, 78);
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
.footer1 a {
  color: #ccc;
}
.footer1 a:hover {
  color: #fff;
}
.footer1 .widget {
  margin-bottom: 30px;
}
.footer1 .widget-title {
  font-size: 17px;
  font-weight: bold;
  color: #ccc;
  margin: 0 0 20px;
}
.footer1 .entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
.footer1 .entry-meta a {
  color: #333333;
}
.footer1 .entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}

.footer2 {
  background: rgba(38, 56, 66);
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
.footer2 a {
  color: #aaa;
}
.footer2 a:hover {
  color: #fff;
}
.footer2 p {
  margin: 0;
}

.widget-simplenav {
  margin-left: -5px;
}
.widget-simplenav a {
  margin: 0 5px;
}
/*menu*/
.menuTop{
  height: 90px;
}
.nav {
  display: block;
  width: 250px;
  position: absolute;
  top: 116px;
  left: -250px;
  background-color: white;
  z-index: 1;
  transition-duration: 0.2s;
}
.nav li .btn {
  border: 1px solid gray;
  margin: 0px 10px 20px 10px;
  font-size: 16px;
}
.nav li .btn1 {
  border: 1px solid gray;
  margin: 0px 10px 20px 10px;
  font-size: 16px;
  background-color: rgb(53, 182, 174);
}
.nav li .btn2 {
  border: 1px solid gray;
  margin: 0px 10px 20px 10px;
  font-size: 16px;
  background-color: rgb(38, 70, 83);
}
.nav li .btn:hover {
  border: 1px solid rgb(53, 182, 174);
  margin: 0px 10px 20px 10px;
}
.nav li .btn1:hover {
  border: 1px solid rgb(53, 182, 174);
  margin: 0px 10px 20px 10px;
}
.nav li .btn2:hover {
  border: 1px solid rgb(53, 182, 174);
  margin: 0px 10px 20px 10px;
}
.nav li a {
  color: gray;
}
.nav li a:hover {
  color: rgb(53, 182, 174);
}
.nav li {
  text-align: center;
  width: inherit;
  margin-top: 5px;
}
.asso {
  font-size: 19px;
  margin: 10px 0px 3px 0px;
  height: 30px;
  /*vertical-align: middle;
    line-height: 30px;*/
  text-decoration: none;
}
.asso:hover {
  color: rgb(53, 182, 174);
  background-color: #eee;
}
.asso a:hover {
  text-decoration: none;
}
.navbar-toggle {
  display: flex;
  position: relative;
  float: right;
  height: 34px;
  margin-right: 0px;
  bottom: 76px;
}
.navbar-header {
  width: 100%;
}
.menu {
  left: 0px;
}
.name_menu {
  position: relative;
  bottom: 7px;
  left: 5px;
  color: white;
}
.nav li .active_menu {
  color: rgb(53, 182, 174);
}
.nav li .actives_menu {
  border: 1px solid rgb(53, 182, 174);
  margin: 0px 10px 20px 10px;
  color: rgb(53, 182, 174);
}
.name_top_menu {
  position: relative;
  top: -9px;
  color: rgb(53, 182, 174);
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 65px;
}
/* acces rapid */
.repere{
  background-color: white;
}
/* menu deroulant */
.open > .dropdown-menu1 {
  display: block;
}
.dropdown-menu1 {
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  /* border: 1px solid rgba(0,0,0,.15); */
  /* border-radius: 4px; */
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-clip: padding-box;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .name_top_menu {
    position: relative;
    top: -2px;
    color: rgb(53, 182, 174);
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 47px;
  }
  .Don {
    background-color: red;
    border: 1px solid red;
    width: fit-content;
    padding: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    float: right;
    margin-top: 2px;
    position: relative;
    bottom: 1px;
  }
  .navbar-toggle {
    display: flex;
    position: relative;
    float: right;
    height: 34px;
    margin-right: 0px;
    bottom: 59px;
  }
}
@media (max-width: 800px) {
  .name_top_menu {
    position: relative;
    top: 4px;
    color: rgb(53, 182, 174);
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 54px;
  }
  .navbar-toggle {
    display: flex;
    position: relative;
    float: right;
    height: 34px;
    margin-right: 0px;
    bottom: 48px;
  }
  .Don {
    position: relative;
    bottom: 53px;
    background-color: red;
    border: 1px solid red;
    width: 122px;
    padding: 0px 0px 4px 7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    float: right;
    margin-top: 54px;
  }
  .Don span {
    font-size: 13px;
    position: relative;
    right: 5px;
  }
}
@media (max-width: 640px) {
.name_top_menu {
    position: relative;
    top: 13px;
    color: 1gb(53, 182, 174);
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 33px;
  }
  .navbar-toggle {
    display: flex;
    position: relative;
    float: right;
    height: 34px;
    margin-right: 0px;
    bottom: 32px;
  }
  .Don {
    position: relative;
    bottom: 53px;
    background-color: red;
    border: 1px solid red;
    width: 122px;
    padding: 0px 0px 4px 7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    float: right;
    margin-top: 54px;
  }
  .Don span {
    font-size: 13px;
    position: relative;
    right: 5px;
  }
}
@media (max-width: 560px) {
.name_top_menu {
    display: none;
  }
  .navbar-toggle {
    display: flex;
    position: relative;
    float: right;
    height: 34px;
    margin-right: 0px;
    bottom: -12px;
  }
  .Don {
    position: relative;
    bottom: 53px;
    background-color: red;
    border: 1px solid red;
    width: 122px;
    padding: 0px 0px 4px 7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    float: right;
    margin-top: 54px;
  }
  .Don span {
    font-size: 13px;
    position: relative;
    right: 5px;
  }
}

